---
import { Icon } from "astro-icon/components";
---

<header>
	<nav>
		<Icon name="tiva" width="40" height="40" color="black" />

		<ul>
			<li><a href="/">Inicio</a></li>
			<li><a href="/servicies">Servicios</a></li>
			<li><a href="/customers">Clientes</a></li>
			<li><a href="/contact">Contacto</a></li>
		</ul>
	</nav>
</header>

<style>
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 70px;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: rgba(0, 0, 0, 0.5);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para darle profundidad */
		border-radius: 30px 30px 30px 30px;
		margin: 30px 450px;
		border: 1px solid #ccc;
		padding: 10px 40px;

	}
	ul {
		list-style: none;
		display: flex;
		gap: 20px;
		font-weight: 650;
		font-size: 18px;
		color: rgb(255, 255, 255);
	}

</style>
