---
import { Icon } from "astro-icon/components";
---

<div>
    <div>
        <h4>Servicios Profesionales</h4>
        <p>
            En Tiva Design, no solo ofrecemos servicios profesionales de Diseño
            Gráfico, Branding y Contenido para tus redes, sino que también
            estamos aquí para ayudarte a dar vida a tus ideas y construir el
            camino hacia el éxito.
        </p>
    </div>
    <div>
        <Icon name="brush" width="50" height="50" color="black" />
        <h3>Branding</h3>
        <p>
            Creamos identidades visuales sólidas y memorables que reflejan la
            esencia de tu marca, ayudándote a destacar en un mercado
            competitivo.
        </p>
        <a href="/contact"> <button>Contactanos</button> </a>

       <Icon name="colorpaleta" width="50" height="50" color="black"/>
        <h3>Social Media</h3>
        <p>
            Ofrecemos soluciones creativas y personalizadas para todas tus
            necesidades de diseño, desde logotipos hasta materiales
            promocionales.
        </p>
        <a href="/contact"> <button>Contactanos</button> </a>

        <Icon name="puntero" width="50" height="50" color="black"/>
        <h3>Diseño Publicitario</h3>
        <p>
            Desarrollamos estrategias de contenido efectivas para redes sociales
            que aumentan tu visibilidad y engagement, conectando con tu
            audiencia de manera auténtica.
        </p>
        <a href="/contact"> <button>Contactanos</button> </a>

        <Icon name="video" width="50" height="50" color="black"/>
        <h3>Edición de Videos</h3>
        <p>
            Transformamos tus ideas en videos impactantes y profesionales que
            capturan la atención de tu audiencia y comunican tu mensaje de
            manera efectiva.
        </p>
        <a href="/contact"> <button>Contactanos</button> </a>
    </div>
</div>
