---
---

<div class="servicies1">

    <div class="servicies-section">
        <div class="text">

            <h3>Servicios</h3>
            <ul>
                <li>- Branding</li>
                <li>- Diseño Social Media</li>
                <li>- Diseño Publicitario</li>
                <li>- Desarrollo Web</li>
                <li>- Diseño de editorial</li>
                <li>- Diseño de packaging</li>
                <li>- Diseño de Cover art</li>
            </ul>
    
            <a href="/contact">
                <button>Contactar</button>
            </a>


        </div>
        
        <img src="IPHONEMOCKUP.png" alt="" />
    </div>
</div>

<style>

    .servicies1 {
        width: 100%;
    }
    
    .servicies-section {
        padding: 60px 150px;
        display: flex;
        justify-content: space-between;
        align-items: row;
        margin-top: 50px;
        margin-bottom: -400px;
        padding: 350px;
        padding-top: 50px;
        color: rgb(255, 255, 255);
        background-position: center;
        background-size: cover;
    }
    h3 {
        font-size: 65px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        line-height: 1;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    h3:hover{
        color: chartreuse;
        box-shadow: black;
        transition: ease 0.3s;
    
    }
    ul {
        font-size: 25px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        line-height: 1.3;
        margin-bottom: 70px;
    }
    li:hover{
        transform: translatey(2px);
        transition: ease 0.3s;
    }

    a {
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        padding: 10px 20px 10px 20px;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
    }

    a:hover {
		background-color: #000000;
		color: #ffffff;
		border: #ffffff solid 1px;
		transition: ease 0.3s;

    }

    img {
        display: flex;
        flex direction: row;
        margin-top: 0px;
        width: 700px;
        height: 1000px;
        margin-left: -60px;
    }

    img:hover {
        transform: translateY(-10px);
        transition: ease 0.3s;
    }

    .text {
        background-color: rgba(
            0,
            0,
            0,
            0.5
        ); /* Fondo semitransparente para resaltar los iconos */
        border-radius: 50px 50px 50px 50px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra para darle profundidad */
        margin-top: 60px;
        margin-bottom: 400px;
        margin-right: -420px;
        padding: 10px 400px 80px 80px;
        

    }


</style>
