<div class="servicies.1" >
    <div class="servicies-section" >
        <h3>Servicios</h3>
        <ul>
            <li>- Branding</li>
            <li>- Diseño Social Media</li>
            <li>- Diseño Publicitario</li>
            <li>- Desarrollo Web</li>
            <li>- Diseño de editorial</li>
            <li>- Diseño de packaging</li>
            <li>- Diseño de Cover art</li>
        </ul>
        <div/>
            <a href="/contact">
                <button>Contactar</button>
            </a>
        </div>
    </div>

    
    <div>
        <img src="IPHONEMOCKUP.png" alt="" />
    </div>
</div>

<style>
    .servicies-section {
        padding: 60px 150px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: row;
        text-align: left;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 100px;
        padding-top: 20px;
        padding-bottom: 0px;
        color: rgb(255, 255, 255),
       
    }
    h3 {
        font-size: 40px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        line-height: 1.0;
        margin-bottom: 20px;
    }
    ul {
        font-size: 20px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        line-height: 1.3;
        margin-bottom: 0px;
    }

    a {
        text-decoration: none;
        margin-top: 20px;
        background-color: black;
        border-radius: 8px;
        border-color: white ;
        padding: 10px 10px 10px 23px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        border: 1px solid white;
        max-width: 120px;
    }
        
        
        a {
        hover: pointer;
		background-color: #ffffff;
		color: #000000;
		border: #000000 solid 1px;
		transition: 0.3s;

    }

    img {
        display: flex;
        height: auto;
        margin-top: 0px;
        width: 500px;
        

    }
</style>
