<div class="servicies-section">
    <div>
        <h3>Servicios</h3>
        <ul>
            <li>- Branding</li>
            <li>- Diseño Social Media</li>
            <li>- Diseño Publicitario</li>
            <li>- Desarrollo Web</li>
            <li>- Diseño de editorial</li>
            <li>- Diseño de packaging</li>
            <li>- Diseño de Cover art</li>
        </ul>
        <div>
            <a href="/contact">
                <button>Contactar</button>
            </a>
        </div>
    </div>

    
    <div>
        <img src="IPHONEMOCKUP.png" alt="" />
    </div>
</div>

<style>
    .servicies-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    img {
        width: 50%;
        object-fit: cover;
    }

</style>
