---
import { Icon } from "astro-icon/components";
---

<div>
    <div>
        <Icon name="xpress" width="50" height="50" color="black" />
        <Icon name="ccsfood" width="50" height="50" color="black" />
        <Icon name="centralpagos" width="50" height="50" color="black" />
        <Icon name="crosswind" width="50" height="50" color="black" />
    </div>

    <div>
        <h2>¿Quiénes Somos?</h2>
        <p>
            Somos una agencia especializada en la creación de marcas sólidas e
            identidades visuales impactantes. Especializado en branding, social
            media y diseño publicitario, con un enfoque estratégico para ayudar
            a empresas a conectar con sus audiencias.
        </p>
    </div>
</div>
