---
import { Icon } from "astro-icon/components";
---

<div>
    <div class="titulo">
        <h4>Contacto</h4>
        <p>
            ¿Listo para llevar tu marca al siguiente nivel? En Tiva Design,
            estamos aquí para ayudarte a transformar tus ideas en realidad. Ya
            sea que necesites un nuevo logotipo, una estrategia de contenido
            para tus redes sociales o cualquier otro servicio de diseño, nuestro
            equipo de expertos está listo para colaborar contigo.
        </p>
    </div>

    <div class="botones">
        <div class="B1">
            <Icon name="phone" width="50" height="50" color="black"/>
            <h3>Teléfono</h3>
            <a href="tel:+584127593266"> <button>Enviar Whatsapp</button> </a>
        </div>
        <div class="B2">
            <Icon name="email" width="50" height="50" color="black" />
            <h3>Email</h3>
            <a href="mailto:tivadesignve@gmail.com">
                <button>Enviar Email</button>
            </a>
        </div>
        <div class="B3">
            <Icon name="instagram" width="50" height="50" color="black" />
            <h3>instagram</h3>
            <a href="https://www.instagram.com/tivadesign_/" target="_blank" rel="noopener noreferrer">
            <button>Visitar Instagram</button>
            </a>
        </div>
       
    </div>
</div>