<footer>
		
		<icons name=tiva.svg width=50 height=50 />
		<p>0412-7593226</p>
		<p>@tivadesign_</p>
		<p>tivadesignve@gmail.com</p>
		<p>Valencia, Venezuela</p>
		<p>© 2024 TivaDesign. All rights reserved.</p>

	<p >¿Listo para llevar tu marca al siguiente nivel?</p>
<a href="/contact">
    <button>Contactanos</button>
    </a>


</footer>