
<!doctype html>
<html lang="en">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>TivaDesign</title>

	</head>
	<body>
		<header>
			<nav> 
				<a href="/">inicio</a>
				<a href="/whoweare">Quienes Somos?</a>
				<a href="/servicies">Servicios</a>
				<a href="/customers">Clientes</a>
			  <a href="/contact">Contacto</a>
			</nav>
		</header>

	 <!-- la dejaremos asi -->
		<slot />
 	 <!-- en esta parte se agrega el contenido dinamico -->

	 Aqui va el footer

	</body>
</html>

