---
import Navbar from "../components/Navbar.astro"
---
<!doctype html>
<html lang="en">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>TivaDesign</title>

	</head>
	<body>

		<Navbar />

	 <!-- la dejaremos asi -->
		<slot />
 	 <!-- en esta parte se agrega el contenido dinamico -->

	 Aqui va el footer

	</body>
</html>

