
<!doctype html>
<html lang="en">
	<head>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>TivaDesign</title>

	</head>
	<body>
		<header>
			<nav> 
				<img src="" alt="">

				<ul>
				
				<li><a href="/">Inicio</a></li>
				<li><a href="/whoweare">Quiénes Somos?</a></li>
				<li><a href="/servicies">Servicios</a></li>
				<li><a href="/customers">Clientes</a></li>
				<li><a href="/contact">Contacto</a></li>
		
		
				</ul>
				
			</nav>
		</header>

	 <!-- la dejaremos asi -->
		<slot />
 	 <!-- en esta parte se agrega el contenido dinamico -->

	 Aqui va el footer

	</body>
</html>

